In [3]:
import pandas as pd

vendas = pd.read_excel("Vendas.xlsx")
display(vendas.head(10))

   Código Venda       Data                     ID Loja                 Produto  Quantidade  Valor Unitário  Valor Final
0             1 2019-01-01          Iguatemi Esplanada          Sapato Estampa           1             358          358
1             1 2019-01-01          Iguatemi Esplanada                Camiseta           2             180          360
2             1 2019-01-01          Iguatemi Esplanada           Sapato Xadrez           1             368          368
3             2 2019-01-02              Norte Shopping                 Relógio           3             200          600
4             2 2019-01-02              Norte Shopping            Chinelo Liso           1              71           71
5             3 2019-01-02  Rio Mar Shopping Fortaleza             Cinto Linho           1             248          248
6             5 2019-01-02              Shopping Barra                   Calça           1             170          170
7             6 2019-01-02         Shopping Ibirapuera           Polo Listrado           4             149          596
8             7 2019-01-02              Norte Shopping  Camisa Gola V Listrado           1             116          116
9             7 2019-01-02              Norte Shopping             Camisa Liso           1             105          105

In [7]:
Qtd_vendas = vendas[['ID Loja', 'Quantidade']].groupby('ID Loja').sum('Quantidade')
display(Qtd_vendas)

                                  Quantidade
ID Loja
Bourbon Shopping SP                     8236
Center Shopping Uberlândia              7994
Iguatemi Campinas                       8228
Iguatemi Esplanada                      8008
Norte Shopping                          8468
Novo Shopping Ribeirão Preto            8234
Palladium Shopping Curitiba             8446
Parque Dom Pedro Shopping               7789
Passei das Águas Shopping               7999
Ribeirão Shopping                       8222
Rio Mar Recife                          8096
Rio Mar Shopping Fortaleza              8308
Salvador Shopping                       8029
Shopping Barra                          8067
Shopping Center Interlagos              8130
Shopping Center Leste Aricanduva        8447
Shopping Eldorado                       8075
Shopping Ibirapuera                     8169
Shopping Iguatemi Fortaleza             7989
Shopping Midway Mall                    7659
Shopping Morumbi                        7855
Shopping Recife                         7929
Shopping SP Market                      8343
Shopping União de Osasco                8122
Shopping Vila Velha                     8619

In [12]:
qtd_vendas_produtos = vendas[['ID Loja', 'Produto', 'Quantidade']].groupby(['ID Loja', 'Produto']).sum('Quantidade')
display(qtd_vendas_produtos)

                                      Quantidade
ID Loja             Produto
Bourbon Shopping SP Bermuda                   64
                    Bermuda Estampa           64
                    Bermuda Linho             60
                    Bermuda Liso              59
                    Bermuda Listrado          64
...                                          ...
Shopping Vila Velha Tênis Estampa             66
                    Tênis Linho               85
                    Tênis Liso                61
                    Tênis Listrado            52
                    Tênis Xadrez              80

[3000 rows x 1 columns]